.keyboard {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 250px;
    height: 300px;
}

.keyboardRow{
    display: flex;
    justify-content: space-between;
}